.navbar{
    height: 0;
    width: 100%;
    min-height: 6rem;
    padding: 2rem;
    overflow: hidden;
    transition: height .3s ease-in-out;
    position: fixed;
    top: 0;
    @include respond(phone){
        background: $color-black !important;
    }

    &__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include respond(phone){
            flex-direction: column;
        }
    }
    &__logo{

    }
    &__link{
        &:link, &:visited{
            text-decoration: none;
            color: $color-light-white;
            font-size: $default-font-size;
            text-transform: uppercase;
        }
    }
    &__list-wrap{
        @include respond(phone){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    &__list{
        display: flex;
        @include respond(phone){
            // margin-top: 2rem;
            flex-direction: column;
        }
    }
    &__item{
        list-style: none;
        &:not(:last-child){
            padding-right: 2rem;
        }
        @include respond(phone){
            padding-top: 2rem;
        }
    }

    &__social{
        color: $color-light-white;
        font-size: $default-font-size;
        display: none;

        @include respond(phone){
            display: initial;
        }
    }
    &__social-icon{
        &:not(:first-child){
            padding-left: 1.5rem;
        }
    }
    &__hamburger{
        position: fixed;
        top: 2rem;
        right: 2rem;
        font-size: $default-font-size;
        color: $color-light-white;
        display: none;

        @include respond(phone){
            display: initial;
        }
    }
}

//to toggle navbar
.collapse{
    height: 45vh;
}
.show_icon{
    display: initial;
}